<!DOCTYPE html>

<head>
  <title>direczen | home</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../public/assets/styles/style.css" />
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
</head>
<center>

  <body style="height:100%;">
    <h1 style="font-size:100px; color:white;">direczen</h1>
    <div class="container">
      <div class="cards">
        <div class="card">
          <h2 class="card-body" style="vertical-align:center; font-size:80px"><a href="./home.html">home</a></h2>
        </div>
        <div class="card">
          <p class="card-body"><img class="imgcard" src="../public/assets/images/map.png" /></p>
        </div>
      </div><br/>
      <div class="contentMain">
        <p>Direczen is a full service travel provider that specializes in offering nonprofits, volunteers, and aid workers an
          affordable way to find local accommodations in real time. We were created by two former first reponders to Hurricane
          Katrina, when we realized how complex and expensive it is to mobilize aid and humanitarian efforts. We use our
          501(c)(3) status to get competitive vendor rates, expecially for those doing good work!</p>
      </div>
    </div><br/><br/>
  </body>
  <footer>
    <nav style="width:100%; margin-bottom:0%;">
      <h3><a href="home.html">home </a>&#160;&#160;&#160; </h3>
      <h3><a href="../public/index.html">main</a>&#160;&#160;&#160; </h3>
      <h3><a href="mission.html">mission</a>&#160;&#160;&#160; </h3>
      <h3><a href="international.html">international</a>&#160;&#160;&#160; </h3>
      <h3><a href="partners.html">partners</a>&#160;&#160;&#160;</h3>
      <h3><a href="contact.html">contact us</a>&#160;&#160;&#160; </h3>
    </nav>
  </footer>

  </html>